.trending-section {
  margin: 2rem 0;

    h3 {
      font-size: 1.1rem;
      color: white;
      text-align: center;
      padding: 0.5rem 0; 
      background-color: #2B2B2B;
      font-weight: 500;
    }
  
  .trending-section-wrapper {
    display: flex;
    overflow-x: auto;
  }
  a {
    text-decoration: none;
    color: black;
  }
}


 

