.trending-section {
  margin: 5rem 0;


    h1 {
      font-size: 1.3rem;
      color: black;
      text-align: center;
      padding: 0.5rem 0; 
      background-color: #F3F3F3;
      color: black;
    }
  
  // .title-underline {
  //   width: 5rem;
  //   height: 0.2rem;
  //   background: black;
  //   margin: 0.1rem auto;
  // }

  .trending-section-wrapper {
    display: flex;
    overflow-x: auto;
  }
  a {
    text-decoration: none;
    color: black;
  }
}


 

