.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 40vh;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.slide-1 {
  background-image: url("./imageSlider1.png");
}
.slide-2 {
  background-image: url("./imageSlider2.png");
}
.slide-3 {
  background-image: url("./imageSlider3.png");
}