.Card{
  width: 19rem;
  margin-bottom: 3rem;
  @media only screen and (max-width: 500px) {
    width: 80%;
    min-width: 17rem;
  }

  a {
    height: 23rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;

    .card-image{
      img {
        object-fit: contain;
        height: 12rem;
        width: 12rem;
      }
    }

    .card-title {
      font-size: .9rem;
      font-weight: 300;
      width: 80%;
    }
    
    .card-price {
      font-weight: 600;
      font-size: 1.3rem;
    }
  }  
}



