


* {
  margin: 0;
  padding: 0;
  //border: 1px solid red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.Card-Container{
  
}



.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  margin: 1rem;
  //border: 1px solid red;
  width: 14rem;
  height: 60vh;
  padding: .1rem;
  position: relative;
  
  border-radius: 20px;
  overflow: hidden;

  // .card:hover{
    
  // }

  // .card::after{
  //   content: 'ARHERA';
  //   position: absolute;
  //   top: 30%;
  //   left: -20%;
  //   font-weight: 800;
  //   font-size: 12rem;
  //   font-weight: 800;
  //   font-style: italic;
  //   color: gray;
  // }


  .card-image{
    margin: 0 auto;
    width: 10rem;
    height: 3rem;
    z-index: 10000;
    transition: 0.5s;
    margin-bottom: 5rem;

  }

  .card-image:hover{
   margin-top: 2rem;

  }

  .card-image img{
   
    width: 100%;
    height: 150px;
    
  }


  .card-product-color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;

  }

  .card-product-color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  .card-product-color span:nth-child(1){
    background-color: red;
  }

  .card-product-color span:nth-child(2){
    background-color:yellow;
  }

  .card-product-color span:nth-child(3){
    background-color: green;
  }


  .card-content{
    width: 90%;
    min-height: 10vh;
    margin: 0 auto;
    // border: 1px red solid;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;    
    flex-wrap: wrap;
    
  
  }

  .card .card-content:hover{
  
  }

 .card-link{
   height: .1rem;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background: black;
   color: whitesmoke;
   border-radius: 4px;
   text-decoration: none;
   font-weight: 100;
   margin: 0 auto;
 }

 .card_link span {
   display: block;
 }


}



