.reviews-section__col {
  flex: 20%;
  max-width: 25%;
  box-sizing: border-box;
  &:not(:nth-child(4n + 4)) {
    margin-right: 1rem;
  }

  .review-card {
    background: rgba(253, 253, 253, 0.719);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 1rem;

    .review-card-flex-container {
       display: flex;
       align-items: center;

      .review-card-img-box {
        
        img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          background: #f3a939;
        }
      }

      .review-card-user {
        margin-left: 1rem;
        .name {
          font-size: 0.875rem;
          font-weight: 550;
          text-transform: uppercase;
          margin-top: 0.4rem;
        }
        .location {
          font-size: 0.75rem;
          margin: 0.2rem 0 0.5rem 0;
        }
        .stars {
          color: #f3a939;
        }
      }
    }

    .review-card-underline {
      margin: 0.5rem 0;

      width: 100%;
        height: 0.06rem;
        background-color: rgb(211, 211, 211); 
    }

    p {
      color: rgb(112, 112, 112);
      font-size: 0.875rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .reviews-section__col {
    flex: 40%;
    max-width: 100%;
    &:nth-child(2n) {
      margin-right: 0rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .reviews-section__col {
    flex: 100%;
    max-width: 100%;
    &:nth-child(1n) {
      margin-right: 0rem;
    }
  }
}
