.reviews-section__col {
  flex: 25%;
  max-width: 25%;
  box-sizing: border-box;
  padding: 0.938rem;

  .review-card {
    background: #fff;
    padding: 1.25rem;
    box-shadow: 0 4px 8px 0 rgba(68, 68, 68, 0.096),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 50%;
      background: #f3a939;
    }
    .name {
      font-size: 0.875rem;
      font-weight: 550;
      text-transform: uppercase;
      margin: 0.938rem 0 0.313rem 0;
    }
    .location {
      font-size: 0.75rem;
      margin-bottom: 0.625;
    }
    .stars {
      color: #f3a939;
      margin-bottom: 1rem;
    }
    p {
      color: grey;
      font-size: 0.875rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .reviews-section__col {
    flex: 100%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .reviews-section__col {
    flex: 100%;
    max-width: 100%;
  }
}
