.reviews-section {
  padding: 1.25rem 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
  margin-top: 3rem;
  
  .reviews-section__inner {
    max-width: 75rem;
    margin: auto;
    overflow: hidden;
    padding: 0 1.25rem;

    h1 {
      font-size: 1.563rem;
    }

    .title-underline {
      width: 10.625rem;
      height: .3rem;
      background: #f3a939;
      margin: 1.625rem auto;
    }
    .reviews-section__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    button {
      padding: 0.625rem 1.875rem;
      margin: 0.625rem auto; 
      transition: 0.3s;
      border: 1px solid gray; 
      border-radius: 0.625rem;
      &:hover {
        background-color: #332d38;
        color: white;
      }
    }
  }
}
