.reviews-section {
  margin: 2rem 0;

  h3 {
    font-size: 1.1rem;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
    padding: 0.5rem 0;
    background-color: #2B2B2B;
    font-weight: 500;
  }

  .reviews-section__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews-section-button-box {
    text-align: center;
    button {
      width: 17rem;
      padding: 0.625rem 1rem;
      margin: 1.5rem auto 1rem auto;
      transition: 0.3s;
      border: 1px solid rgb(211, 211, 211);
      background-color: rgb(31, 31, 31);
      color: rgb(229, 229, 229);
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        background-color: #000000;
        color: white;
        cursor: pointer;
      }
    }
  }
}

