
.Nav-wrapper {
  width: 100%;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: .1rem solid rgb(240, 240, 240);
  margin-bottom: 2rem;
}

.Nav-parent {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  max-width: 60rem;
  height: 100%;
  align-items: center;
  position: relative;
  .Nav-menu {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0.2rem;
  
    @media only screen and (max-width: 800px) {
      display: block;
    }
  }
}
  
.Nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  color: rgb(84, 84, 84);
  font-weight: 500;
  margin-right: 1rem;
  @media only screen and (max-width: 800px) {
    display: none;
  }
}


.Nav-parent  .Active-page {
  font-weight: 700;
  font-size: .9rem;
  text-decoration: none;
  color: rgb(38, 38, 38);
}

.Nav-menu {
  font-size: 1.8rem;
  display: none;
  cursor: pointer;


  @media only screen and (max-width: 800px) {
    display: block;
  }
 
}